DOCS_SSH_BIND_IP=127.0.0.1
DOCS_SSH_PORT=2222
DOCS_SSH_VIEWER_BIND_IP=127.0.0.1
DOCS_SSH_VIEWER_PORT=3000
DOCS_SSH_DOCS_DIR=./docs
DOCS_SSH_STATE_DIR=./var/state
DOCS_SSH_WORKSPACE_DIR=./var/workspace
